<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hr Application</title>
</head>
<body>

	<h1>Edit employee</h1>
	
	<br><br>
	
	<form th:action="@{/updateEmployee}" method="post" th:object="${employee}">
		Id:         <span th:text="*{id}"></span><br><br>
					<input th:field="*{id}" type=hidden />
		Name:       <input th:field="*{name}"><br><br>
		Title:      <input th:field="*{title}"><br><br>
		Salary:     <input th:field="*{salary}"><br><br>
		Entry Date: <input th:field="*{entryDate}"><br><br>
		            <input type="submit" value="Submit">
	</form>
	
</body>
</html>