<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hr Application</title>
</head>
<body>

<h1>List of employees</h1>
	
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Title</th>
				<th>Salary</th>
				<th>Entry date</th>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.id}">Id</td>
				<td>
					<a th:href="@{/employees/{id}(id=${employee.id})}" th:text="${employee.name}">Name</a>
				</td>
				<td th:text="${employee.title}">Title</td>
				<td th:text="${employee.salary}">Salary</td>
				<td th:text="${employee.entryDate}">EntryDate</td>
				<td>
					<a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a>
				</td>
	</table>
	
	<br><br><br>
	
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		Id:         <input th:field="*{id}"><br><br>
		Name:       <input th:field="*{name}"><br><br>
		Title:      <input th:field="*{title}"><br><br>
		Salary:     <input th:field="*{salary}"><br><br>
		Entry Date: <input th:field="*{entryDate}"><br><br>
		            <input type="submit" value="Submit">
	</form>
	
</body>
</html>